.drawer {
  position: fixed;
  top: 0;
  right: -420px;
  width: 380px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,.15);
  transition: right 0.3s ease;
  z-index: 1000;
}

.open {
  right: 0;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px 10px;
  background: #EBEBEB;
}
.container {
  padding: 15px;
}
.close{
  cursor: pointer;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: center;
}
.qty{
  border: 1px solid #000;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.qty button {
  margin: 0 6px;
  background: #d9e6ff;
  border: none;
  padding: 3px 7px;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.checkout {
  width: 100%;
  background: #1e60d4;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.removeCart{
  background: #fdd0d0;
  border: none;
  padding: 7px 10px;
  border-radius: 27px;
  margin-left: 10px;
  cursor: pointer;
}
